# Ignore all files in the Preliminary_Practices directory
/Preliminary_Practices/*

# Ignore all files in the Data_Structures directory
/Data_Structures/*

# Ignore the .vscode directory
.vscode/

# Ignore alll files in the Miscellaneous directory
/Miscellaneous/*
/Miscellaneous/Numerical_Methods/*

# Ignore Testing purpose Files
/Tests/*

# Ignore specific file
logfile.txt

# Exceptions:

# Allow .c files in Preliminary_Practices directory
!Preliminary_Practices/*.c

# Allow .c files in Data_Structures directory
!Data_Structures/*.c

# Allow directories inside Preliminary_Practices
!Preliminary_Practices/*/

# Allow directories inside Data_Structures
!Data_Structures/*/

# Allow .c files in the miscellaneous Directory
!Miscellaneous/*.c
# Allow Directories in the miscellanoues Directory
!Miscellaneous/*/
!Miscellaneous/Numerical_Methods/*.c
