###########IGNORES###########
# Ignore all files in the Preliminary_Practices directory
/Preliminary_Practices/*
# Ignore Testing File
Preliminary_Practices/tests.c

##########EXCEPTIONS##########
# Except for .c files
!Preliminary_Practices/*.c
# Except for directories
!Preliminary_Practices/*/ 